/* src/styles/global.css */

/* ====================================
   1. Reset de Estilos
   ==================================== */

/* Remove margens, preenchimentos e define box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ====================================
   2. Estilos Básicos
   ==================================== */

/* Estiliza o corpo da página */
body {
  font-family: sans-serif;
  background-color: #F8F9FA;
  color: #212529;
}

/* Estiliza links */
a {
  color: #0056B3;
  text-decoration: none;
}

/* Estiliza botões */
button {
  cursor: pointer;
  font-family: inherit;
}

/* Estiliza imagens */
img {
  width: 500px;
  max-width: 100%;
  padding: 0.5rem;
  margin-left: 110px;
  display: block;
}
